.services-container {
  margin: 40px 0px;
}

.service-parent {
  max-width: 100vw;
  padding: 20px 0px;
}

.grid-item-ser {
  padding: 15px;
}

.service-card {
  display: flex;
  flex-direction: row-reverse;
}

.service-title-item {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600 !important;

  font-size: 1.1em !important;
}

.service-img {
  height: 200px;
}

.services-text-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.service-title {
  color: white;
  background: black;
}

.service-desc {
  color: black;
  font-weight: 500 !important;
}
